.users__container {
   position: relative;
   overflow: hidden;
}
.users__pages {
   position: absolute;
}
.current {
   margin: 0 2px;
   cursor: pointer;
   border: solid 2px yellow;
   border-radius: 45%;
}
.notCurrent {
   margin: 0 2px;
   cursor: pointer;
}
.users__img {
   width: 100px;
   border-radius: 50%;
}
.users__item_container {
   padding: 30px 20px;
}
.preloader {
   width: 100px;
}
.pages__btn {
   font-size: 25px;
   background-color: transparent;
   color: #fff;
   border: none;
   cursor: pointer;
}
.users__item_btn {
   background-color: transparent;
   font-size: 15px;
   color: #fff;
   padding: 2px 10px;
   border:  3px solid rgba(43, 34, 170, 0.74);
   background-color: blueviolet;
   border-radius: 20px;
   cursor: pointer;
}